{% block title %}{{title}}{% endblock %}
{% block content %}
<div class='container'>
<h1>這是首頁This is home page.</h1>
<form action='predict' method='POST'>
  <div class="mb-3">
    <label for="YDQinput" class="form-label">網路成癮分數YDQ</label>
    <input type="text" class="form-control" id="YDQ" name='YDQ' aria-describedby="YDQHelp" value=20>
    <div id="YDQHelp" class="form-text">請填寫網路成癮分數0~20分.</div>
  </div>
  <br><br>
  <div class="mb-3">
    <label for="APGARinput" class="form-label">家庭滿意度apgar</label>
    <input type="text" class="form-control" id="APGAR" name="APGAR" aria-describedby="APGARHelp" value=20>
    <div id="APGARHelp" class="form-text">請填寫家庭滿意度0~20分.</div>
  </div>
  <br><br>
  <div class="mb-3">
    <label for="AGEinput" class="form-label">年齡</label>
    <input type="text" class="form-control" id="AGE" name='AGE' aria-describedby="AGEHelp" value=20>
    <div id="AGEHelp" class="form-text">請填寫年齡0~100歲.</div>
  </div>
  <br><br>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="SEX" name='SEX' checked value='1'>
    <label class="form-check-label" for="SEXCheck1">是否為男性</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}